# Python files
*.pyc
.pypirc
.ipynb_*

#Docs
/docs/_*

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.coverage

# Extra

lightct/tests/example_scan
lightct/tests/test_scan/projections/*
.idea/
